<div class="home-container-img">
    
</div>
<div class="home-container">
    <h1 class="home-title">
        DevByPix c'est des notes personnelles, des notes trouvées sur le web sur les différentes technologies de l'informatique.
    </h1>
    <p>
        Après un constat cuisant sur ma mémoire, j'ai éprouvé le besoin de stocker toutes les informations importantes des différentes technologies informatiques sous forme d'images ou documents dans une bases de données.
        Quoi de mieux que d'en faire un CRM? Le voici. Avec un site web tout à fait à mon image, très coloré.
    </p>
</div>
<app-home-banner></app-home-banner>


